<%= @message %>
<p>Shots fired:</p>
<pre>
<%= @shots_fired %> 
</pre>
<form method='post'>
<input type="text" name="hit_coord">
<input type="submit" value="Submit">
</form>
<p>Shots received:</p>
<pre>
<%= @shots_received %> 
</pre>

